<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <servlet>
        <servlet-name>WeedServlet</servlet-name>
        <servlet-class>com.hellstudios.weedstore.WeedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsHandler</servlet-name>
        <servlet-class>com.hellstudios.weedstore.products.ProductsHandler</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>WeedServlet</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsHandler</servlet-name>
        <url-pattern>/Products.html</url-pattern>
    </servlet-mapping>
</web-app>