<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>WeedServlet</servlet-name>
        <servlet-class>com.hellstudios.weedstore.WeedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginHandler</servlet-name>
        <servlet-class>com.hellstudios.weedstore.auth.LoginHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAction</servlet-name>
        <servlet-class>com.hellstudios.weedstore.auth.LoginAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsHandler</servlet-name>
        <servlet-class>com.hellstudios.weedstore.products.ProductsHandler</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>jersey-servlet</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.hellstudios.weedstore.rest</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.feature.DisableXmlSecurity</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>WeedServlet</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginHandler</servlet-name>
        <url-pattern>/Login.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAction</servlet-name>
        <url-pattern>/Login.action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsHandler</servlet-name>
        <url-pattern>/Products.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>jersey-servlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
</web-app>